<h2>New exclusion rule</h2>

<%= render "form.html", changeset: @changeset,
                        action: exclusion_rule_path(@conn, :create) %>

<%= link "Back", to: exclusion_rule_path(@conn, :index) %>
